

<% content_for :title, "Registros de ventas" %>

<h1 class="container">Ventas</h1>
<br>

<div id="sales-table" class="container">
  <table class="table-custom">
    <thead style="background-color: #b92621">
      <tr>
        <th scope="col">
          Vendedor
        </th>

        <th scope="col">
          Cliente
        </th>

        <th scope="col">
          Total
        </th>

        <th scope="col">
          Cancelada
        </th>

        <th scope="col">
          Fecha
        </th>

        <th scope="col">
          ...
        </th>
      </tr>
    </thead>

    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.user.full_name %></td>
          <td><%= sale.client.name %></td>
          <td><%= number_to_currency(sale.total, :locale => :es) %></td>

          <% if !sale.cancelled? %>
            <td>
              <%= link_to "¿Cancelar?",
                    backstore_sale_path(sale),
                    method: :delete,
                    data: {
                      turbo_confirm: "¿Estás seguro de cancelar esta venta? No hay vuelta atrás...",
                      turbo_method: :delete
                    },
                    style: "color: #1343a0; font-family: monospace; font-size: 17px;",
                    class: "btn btn-warning" %>
            </td>
          <% else %>
            <td style="color: #b92621;font-family: monospace; font-size: 17px;">
              Cancelada
            </td>
          <% end %>

          <td><%= sale.created_at_local_time.strftime("%d-%m-%Y   %H:%M") %></td>

          <td style="font-family: monospace;">
            <%= link_to "Detalles", backstore_sale_path(sale), style: "color: #1343a0; font-family: monospace; font-size: 17px;" %>
          </td>
        </tr>

      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th style="background-color: #f9efdb; color: #b92621" scope="row">
          Total
        </th>

        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td style="background-color: #f9efdb">
          <%= total = @sales.filter { |sale| !sale.cancelled? }.sum(&:total)
            number_to_currency(total, :locale => :es) %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div>
  <p class="container">
    <%= link_to " Nueva venta", new_backstore_sale_path, style: "color: #1343a0; font-family: monospace; font-size: 18px;" %>
  </p>
</div>
