<div id="<%= dom_id user %>">
  <div>
    <strong>Full name:</strong>
    <%= user.full_name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </div>

  <div>
    <strong>Role:</strong>
    <%= user.role %>
  </div>

</div>
