<% content_for :title, "New user" %>

<h1>New user</h1>

<br>

<div>
  <%= link_to "Back to users", backstore_users_path %>
</div>


<p style="color: green"><%= notice %></p>

<% content_for :title, "Registrar nuevo usuario" %>

<h1 class="container">Registrar nuevo usuario</h1>
<br>

  <% if flash[:error] %>
    <div style="color: #b92621; padding: 1rem; background: #f9efdb; border: 1px solid #b92621; margin-bottom: 1rem;">
      <%= flash[:error] %>
    </div>
  <% end %>

<div id="new-user-form" class="container">
  <article style="background-color: #f9efdb;">
    <%= form_with model: [:backstore, @user] do |form| %>
      <% if @user.errors.any? %>
        <div role="alert">
          <h4>Errores:</h4>

          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <h4 class="container">Datos del usuario</h4>
        <div class="grid">
          <div class="col-8">
            <div>
                  <div>
                    <%= form.label "Nombre completo" %>
                    <%= form.text_field :full_name, required: true, placeholder:"Guillermo Cidade", autocomplete:"on" %>
                  </div>
                  <div>
                    <%= form.label "Correo electrónico" %>
                    <%= form.text_field :email, required: true, placeholder:"guillermocidade@wallas.com", autocomplete:"on" %>
                  </div>

                  yyyy falta poner rol

                  yyy contraseña

            </div>
          </div>
        </div>
      </fieldset>

      <div style="display: inline-block;">
        <%= form.submit "Guardar",
                style: "
                  background-color: #1343a0;
                  color: white;
                  font-family: monospace;
                  font-size: 18px;
                  min-width: auto;
                  width: auto;
                  display: inline-block;
                " %>
      </div>

      <div style="display: inline-block;"></div>
      <div style="display: inline-block;"></div>
      <div style="display: inline-block;"></div>
      <div style="display: inline-block;"></div>
      <div style="display: inline-block;"></div>

      <div style="display: inline-block;">
        <%= link_to "Cancelar", backstore_users_path,
                class: "secondary",
                style: "
                  color: #b92621;
                  font-family: monospace;
                  font-size: 18px;
                  text-align: center;
                  padding: 0.5rem;
                  text-decoration: underline;
                " %>
      </div>

      <br>
    <% end %>
  </article>
</div>

<br>

<div>
  <p class="container">
    <%= link_to "<< Volver", backstore_users_path, style: "color: #1343a0; font-family: monospace; font-size: 18px;" %>
  </p>
</div>
