<div id="<%= dom_id disk %>">
  <div><strong>Title:</strong><%= disk.title %></div>

  <div><strong>Artist:</strong><%= disk.artist %></div>

  <div><strong>Year:</strong><%= disk.year %></div>

  <div><strong>Description:</strong><%= disk.description %></div>

  <div><strong>Price:</strong><%= disk.price %></div>

  <div><strong>Stock:</strong><%= disk.stock %></div>

  <div><strong>Format:</strong><%= disk.format %></div>

  <div><strong>State:</strong><%= disk.state %></div>
</div>
