
<h1 class="container">Detalles del disco</h1>
<br>

<div id="disk-details-" class="container">
  <article style="background-color: #f9efdb; padding: 2rem;">

    <h4 class="container"><%= @disk.title %></h4>

    <div class="grid">
      <div>
        <table class="table-invisible">
        <hr style="border-color: #b92621; border-top: 3px solid #b92621;">
        <thead>
        </thead>
            <tbody>
                <tr>
                  <td class="tg-0lax">
                    <span style="color: #1343a0;">• </span> Artista
                  </td>
                  <td class="tg-0lax"><%= @disk.artist %></td>
                </tr>
                <tr>
                  <td class="tg-0lax">
                    <span style="color: #1343a0;">• </span> Año
                  </td>
                  <td class="tg-0lax"><%= @disk.year %></td>
                </tr>
                <tr>
                  <td class="tg-0lax">
                    <span style="color: #1343a0;">• </span> Géneros
                  </td>
                  <td class="tg-0lax">
                    <% @disk.genres.each do |genre| %>
                      <span style="color: #1343a0;">• </span><%= genre.genre_name %><br>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="tg-0lax">
                    <span style="color: #1343a0;">• </span> Estado
                  </td>
                  <td class="tg-0lax"><%= @disk.state %></td>
                </tr>
                <tr>
                  <td class="tg-0lax">
                    <span style="color: #1343a0;">• </span> Formato
                  </td>
                  <td class="tg-0lax"><%= @disk.format %></td>
                </tr>
                <tr>
                  <td class="tg-0lax">
                    <span style="color: #1343a0;">• </span> Stock
                  </td>
                  <% if @disk.stock == 1 %>
                    <td class="tg-0lax" style="color: #b92621;">  Último disponible</td>
                  <% else %>
                    <td class="tg-0lax">  <%= @disk.stock %> disponibles</td>
                  <% end %>
                </tr>
            </tbody>
        <tfoot>
            <tr>
                <td class="tg-0lax">
                  <br>
                <span style="color: #1343a0;">• </span> <%= number_to_currency(@disk.price, :locale => :es) %>
                </td>
            </tr>
        </tfoot>
        </table>
      </div>

       <div style="display: flex; justify-content: center; align-items: center;">
         <% if @disk.cover.attached? %>
           <%= image_tag @disk.cover,
                 style: "width: 400px; height: 400px; border-radius: 8px; box-shadow: 0 8px 16px rgba(0,0,0,0.1);" %>
         <% else %>
           <div class="pico-background-red-100" style="width: 400px; height: 400px; display: flex; align-items: center; justify-content: center; border-radius: 8px;">
             <span style="color: #b92621;">Sin portada</span>
           </div>
         <% end %>
       </div>

    </div>

    <div style="margin-top: 1rem; padding: 1rem; background-color: #fff; border-radius: 8px;">
      <h5 style="color: #1343a0;">Descripción</h5>
      <p><%= @disk.description %></p>
    </div>

    <br>
    <br>
    <h4 class="container">Ventas realizadas</h4>
    <div id="sales-table" class="container">
      <table class="table-custom">
        <thead style="background-color: #b92621">
          <tr>
            <th scope="col">
              Vendedor
            </th>
            <th scope="col">
              Cantidad
            </th>
            <th scope="col">
              Total
            </th>
            <th scope="col">
              Cancelada
            </th>
            <th scope="col">
              Fecha
            </th>
            <th scope="col">
              ...
            </th>
          </tr>
        </thead>

        <tbody>
          <% @disk_sales.each do |sale| %>
            <tr>
              <td><%= sale.user.full_name %></td>
              <td>
                <% sale.sale_contents.each do |s| %>
                  <%= s.amount if s.disk == @disk %>
                <% end %>
              </td>
              <td><%= number_to_currency(sale.total, :locale => :es) %></td>

              <% if !sale.cancelled? %>
                <td>
                  <%= link_to "¿Cancelar?",
                        backstore_sale_path(sale),
                        method: :delete,
                        data: {
                          turbo_confirm: "¿Estás seguro de cancelar esta venta? No hay vuelta atrás...",
                          turbo_method: :delete
                        },
                        style: "color: #1343a0; font-family: monospace; font-size: 17px;",
                        class: "btn btn-warning" %>
                </td>
              <% else %>
                <td style="color: #b92621;font-family: monospace; font-size: 17px;">
                  Cancelada
                </td>
              <% end %>

              <td><%= sale.created_at_local_time.strftime("%d-%m-%Y   %H:%M") %></td>

              <td style="font-family: monospace;">
                <%= link_to "Detalles", backstore_sale_path(sale), style: "color: #1343a0; font-family: monospace; font-size: 17px;" %>
              </td>
            </tr>

          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <th style="background-color: #f9efdb; color: #b92621" scope="row">
              Discos vendidos
            </th>

            <td style="background-color: #f9efdb">
              <%= @total_amount %>
            </td>

            <td style="background-color: #f9efdb">
              <%= number_to_currency(@total_amount * @disk.price, :locale => :es) %>
            </td>

            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <br>

    <% if @disk.state == "Usado" %>
      <details name="Muestra de audio" closed>
      <summary style="color: #1343a0; font-size: 24px;"><strong>▿ Muestra de audio</strong></summary>
      <% if @disk.state == "Usado" && @disk.audio_sample.attached? %>
        <div class="container">
            <!-- Reproductor de audio -->
            <audio controls style="width: 100%; height: 50px;">
              <source src="<%= rails_blob_url(@disk.audio_sample) %>"
                      type="<%= @disk.audio_sample.content_type %>">
              Tu navegador no soporta el elemento de audio.
            </audio>
        </div>
        <br>
      <% else %>
        <div class="no-audio-message">
          <p style="color: #b92621;">
            • Este disco no tiene muestra de audio disponible.
          </p>
        </div>
      <% end %>
      </details>
    <% end %>

    <br>
    <details name="imagenes" closed>
      <summary style="color: #1343a0; font-size: 24px;"><strong>▿ Imágenes</strong></summary>
          <div id="disks-responsive-images" class="container">
            <div class="disks-grid" style="display: flex;flex-wrap: nowrap;justify-content: flex-start; gap: 2rem;">
                  <div style="display: flex; justify-content: center; align-items: left;">
                    <% if @disk.cover.attached? %>
                        <%= link_to image_tag(@disk.cover,
                                class: "disk-tile",
                                style: "width: 200px; height: 200px; border-radius: 5px; box-shadow: 0 4px 10px rgba(0,0,0,0.1);"),
                            disk_path(@disk),
                            class: "disk-link",
                            data: { tooltip: "#{@disk.title} - #{@disk.artist}", placement: "bottom" }
                             %>
                    <% else %>
                      <div class="pico-background-red-100" style="width: 200px; height: 200px; display: flex; align-items: center; justify-content: center; border-radius: 8px;">
                        <span style="color: #b92621;">Sin portada</span>
                      </div>
                    <% end %>
                    <% if @disk.images.attached? %>
                      <% @disk.images.each do |image| %>
                        <%= image_tag image,
                               style: "width: 400px; height: 400px; border-radius: 8px; box-shadow: 0 8px 16px rgba(0,0,0,0.1);" %>
                      <% end %>
                    <% end %>
                  </div>
            </div>
          </div>
        <br>
    </details>

  </article>
</div>


<br>
<div>
  <p class="container">
    <%= link_to "<< Volver", backstore_disks_path, style: "color: #1343a0; font-family: monospace; font-size: 18px;" %> |
    <%= link_to "Editar disco", edit_backstore_disk_path(@disk), style: "color: #1343a0; font-family: monospace; font-size: 18px;" %>
  </p>
</div>
