
<% content_for :title, "Registrar nuevo cliente" %>

<h1 class="container">Registrar nuevo cliente</h1>
<br>

  <% if flash[:error] %>
    <div style="color: #b92621; padding: 1rem; background: #f9efdb; border: 1px solid #b92621; margin-bottom: 1rem;">
      <%= flash[:error] %>
    </div>
  <% end %>

<div id="new-client-form" class="container">
  <article style="background-color: #f9efdb;">
    <%= form_with model: [:backstore, @client] do |form| %>
      <% if @client.errors.any? %>
        <div role="alert">
          <h4>Errores:</h4>

          <ul>
            <% @client.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <h4 class="container">Datos del Cliente</h4>
        <p>
          <span style="color: #b92621;">• </span> Detalle la información del
          cliente antes de proceder con la compra.
        </p>
        <div class="grid">
          <div class="col-8">
            <div>
                  <div>
                    <%= form.label "Nombre" %>
                    <%= form.text_field :name, required: true, placeholder:"Guillermo Cidade", autocomplete:"on" %>
                  </div>
                  <div>
                    <%= form.label "Contacto" %>
                    <%= form.text_field :contact, required: true, placeholder:"guillermocidade@wallas.com", autocomplete:"on" %>
                  </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div style="display: inline-block;">
        <%= form.submit "Guardar",
                style: "
                  background-color: #1343a0;
                  color: white;
                  font-family: monospace;
                  font-size: 18px;
                  min-width: auto;
                  width: auto;
                  display: inline-block;
                " %>
      </div>

      <div style="display: inline-block;"></div>
      <div style="display: inline-block;"></div>
      <div style="display: inline-block;"></div>
      <div style="display: inline-block;"></div>
      <div style="display: inline-block;"></div>

      <div style="display: inline-block;">
        <%= link_to "Cancelar", backstore_clients_path,
                class: "secondary",
                style: "
                  color: #b92621;
                  font-family: monospace;
                  font-size: 18px;
                  text-align: center;
                  padding: 0.5rem;
                  text-decoration: underline;
                " %>
      </div>

      <br>
    <% end %>
  </article>
</div>

<br>

<div>
  <p class="container">
    <%= link_to "<< Volver", backstore_clients_path, style: "color: #1343a0; font-family: monospace; font-size: 18px;" %>
  </p>
</div>
